<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>追加ページ</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link th:href="@{/css/obj/NewObjEdit.css}" rel="stylesheet"
	th:src="@{'/css/obj/NewObjEdit.css?_=' + @timestamp}" />
<script type="text/javascript" th:src="@{/js/obj/NewObj.js}"></script>
</head>
<body class="body" onload="get_total_local_data()">
	<input id="totalData" type="hidden" th:value="${total_data}">
	
	<div class="area" >
		<div class="title" th:fragment="stage" style="display: flex;flex-direction: column;">
				<div class="title_font">
					<p >追加ページ</p>
				</div>
<!-- 					<div class="num">			 -->
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">0</span> -->
						
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">1</span> -->
				
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">2</span> -->
							
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">3</span> -->
							
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">4</span> -->
				
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">5</span> -->
										
<!-- 					<span class="title_num" style="color:white; background-color:#ebc1c1;">6</span> -->
<!-- <!-- 					<span class="title_num">7</span> -->
<!-- 				</div> -->
			<div class="contain" id="style-3">
			
			
			<h1 style="margin-bottom: 2rem;">基本情報の追加:</h1>
			&emsp;
			<div class="build_form" >
	  			
	  			<div class="form">

				<label class="form_label" for="buildingName">建物名称:</label>
    			<input class="form_input" type="text" id="buildingName" name="buildingName" >

    			<label class="form_label" for="buildingType">種    類:</label>
    			<select class="form_input" id="buildingType" onchange="buildingTypeSelect()">
					<option value="" disabled selected>種類を選択</option>    			
    				<option value="マンション">マンション</option>
    				<option value="アパート">アパート</option>
    				<option value="戶建">戶建</option>
    			</select>
<!--     			<input class="form_input" type="text" id="buildingType" name="buildingType" style="display: none" > -->

    			<label class="form_label" for="buildingMaterials">構    造:</label>
    			<input class="form_input" type="text" id="buildingMaterials" name="buildingMaterials" >

				<input type="hidden" id="totalLocalData" th:value="${total_local_data}">
				
				</div>
				<div class="form">
    			
    			<label class="form_label" for="buildingPref">都道府県:</label>
    			<select id="pref_select" class="form_input" onchange="select_pref()"> <option value="" disabled selected>地域を選択</option> </select>
<!--     			<input class="form_input" type="text" id="buildingPref" name="buildingPref" > -->
				
    			<label class="form_label" for="buildingLocal">市町村:</label>
    			<select id="local_select" class="form_input" onchange="select_local()"> <option value="" disabled selected>地域を選択</option> </select>
<!--     			<input class="form_input" type="text" id="buildingLocal" name="buildingLocal" > -->
    			

   			 	<label class="form_label" for="buildingAddress">所 在 地:</label>
    			<input class="form_input" type="text" id="buildingAddress" name="buildingAddress" >

				</div>

				<div class="form">

    			<label class="form_label" for="buildingArea">床 面 積(m²):</label>
    			<input class="form_input" type="text" id="buildingArea" name="buildingArea" placeholder="例：15">

    			<label class="form_label" for="yearOfBuild">築年數:</label>
    			<input class="form_input" type="text" id="yearOfBuild" name="yearOfBuild" style="margin-bottom: 80pt;" placeholder="例:15">
			
				
				</div>
				
			</div>
    			<label class="form_label" for="buildingNotes" style="font-size: 16pt;">備考:</label>
			    <textarea class="form_input" id="buildingNotes" name="notes"
			    style="min-width: 75%;min-height: 150px;max-width: 75%;max-height: 150px;margin-bottom:50px;"
			      ></textarea>
			      
			      
				<hr>
				
				<h1 style="margin-bottom: 2rem;">共用設備情報の追加:</h1>
				<div class="build_form" >
					<div class="form">

					    <label class="form_label" for="elevator">エレベーター:</label>
					    <select class="form_input" id="elevator">
<!-- 							<option value="" disabled selected>選択ください</option>    			 -->
    						<option value="有">有</option>
    						<option value="無">無</option>
    					</select>
<!-- 					    <input class="form_input" type="text" id="elevator" name="elevator" > -->
			    
			    		<label class="form_label" for="autoLock">オートロック:</label>
					    <select class="form_input" id="autoLock">
<!-- 							<option value="" disabled selected>選択ください</option>    			 -->
    						<option value="有">有</option>
    						<option value="無">無</option>
    					</select>
<!-- 					    <input class="form_input" type="text" id="autoLock" name="autoLock" > -->
					    
			    
					</div>

					<div class="form">
					
			    		<label class="form_label" for="mailBox">メールボックス:</label>
					    <select class="form_input" id="mailBox">
<!-- 							<option value="" disabled selected>選択ください</option>    			 -->
    						<option value="有">有</option>
    						<option value="無">無</option>
    					</select>
<!-- 					    <input class="form_input" type="text" id="mailBox" name="mailBox" > -->
			    
					    <label class="form_label" for=deliveryBox>宅配ボックス:</label>
			    		<select class="form_input" id="deliveryBox">
<!-- 							<option value="" disabled selected>選択ください</option>    			 -->
    						<option value="有">有</option>
    						<option value="無">無</option>
    					</select>
<!-- 			    		<input class="form_input" type="text" id="deliveryBox" name="deliveryBox" > -->

					</div>

					<div class="form">
			    
					    <label class="form_label" for="parking">駐車場:</label>
						<select class="form_input" id="parking" style="margin-bottom: 100px;">
    						<option value="有">有</option>
    						<option value="無">無</option>
    					</select>
<!-- 					    <input class="form_input" type="text" id="parking" name="parking" > -->
			    
<!-- 			    		<label class="form_label" for="pet">ペット:</label> -->
<!-- 			    		<input class="form_input" type="text" id="pet" name="pet" > -->
					
					</div>
				
				</div>
				
				<label class="form_label" for="cmeqNotes" style="font-size: 16pt;">備考:</label>
			    <textarea class="form_input" id="cmeqNotes" name="cmeqNotes"
			    style="min-width: 75%;min-height: 150px;max-width: 75%;max-height: 150px;margin-bottom:50px;"
			      ></textarea>
				
				<hr>
				
<!-- 				<h3>設備情報の追加:</h3> -->
				<h1 style="margin-bottom: 2rem;">設備情報の追加:</h1>
				<div class="build_form" >
				<div class="form">
				
				<label class="form_label" for="electric">号室:</label>
			    <input class="form_input" type="text" id="roomNum" name="roomNum" >
			
				<label class="form_label" for="electric">間取り:</label>
			    <input class="form_input" type="text" id="roomLayout" name="roomLayout" placeholder="例:1LDK">
				
			    <label class="form_label" for="electric">電気:</label>
			    <select class="form_input" id="electric">
					<option value="專用メーター">專用メーター</option>
					<option value="子メーター">子メーター</option>
					<option value="割当">割当</option>
					<option value="無">無</option>
    			</select>
<!-- 			    <input class="form_input" type="text" id="electric" name="electric" > -->
			
			    <label class="form_label" for="gas">ガス:</label>
			    <select class="form_input" id="gas">
			    	<option value="都市ガス">都市ガス</option>
			    	<option value="プロパンガス">プロパンガス</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="gas" name="gas" > -->
			
			    <label class="form_label" for="stove">コンロ:</label>
			     <select class="form_input" id="stove">
			    	<option value="ガス">ガス</option>
			    	<option value="電気">電気</option>
			    	<option value="IH調理器">IH調理器</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="stove" name="stove" > -->
			
			    <label class="form_label" for="waterWorks">上水道:</label>
			    <select class="form_input" id="waterWorks">
			    	<option value="水道本管より直結">水道本管より直結</option>
			    	<option value="受水槽">受水槽</option>
			    	<option value="井戶水">井戶水</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="waterWorks" name="waterWorks" > -->
		
			    <label class="form_label" for="sewage">下水道:</label>
			     <select class="form_input" id="sewage">
			    	<option value="公共下水道">公共下水道</option>
			    	<option value="淨化槽">淨化槽</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="sewage" name="sewage" > -->
			    
			    <label class="form_label" for="airConditioner">エアコン:</label>
			    <select class="form_input" id="airConditioner">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="airConditioner" name="airConditioner" > -->
			
			    
			   
			  </div>
			  <div class="form">
			
			    <label class="form_label" for="kitchen">台所:</label>
			    <select class="form_input" id="kitchen">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="kitchen" name="kitchen" >			 -->

			    <label class="form_label" for="toilet">トイレ:</label>
			    <select class="form_input" id="toilet">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="toilet" name="toilet" > -->
			
			    <label class="form_label" for="bathroom">浴室:</label>
			    <select class="form_input" id="bathroom">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="bathroom" name="bathroom" > -->
			
			    <label class="form_label" for="basin">洗面台:</label>
			    <select class="form_input" id="basin">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="basin" name="basin" > -->
			
				<label class="form_label" for="roofBalcony">ルーフバルコニー:</label>
				<select class="form_input" id="roofBalcony">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="roofBalcony" name="roofBalcony" > -->
			    
			    <label class="form_label" for="keyNum">鍵(何本):</label>
			    <input class="form_input" type="number" id="keyNum" name="keyNum" >
			    
			    <label class="form_label" for="furniture">備附家具:</label>
			    <input class="form_input" type="text" id="furniture" name="furniture" >
			    
			    <label class="form_label" for="washingMachine">洗濯機:</label>
			    <select class="form_input" id="washingMachine">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="washingMachine" name="washingMachine" > -->
			

<!-- 			    <label class="form_label" for="elevator">エレベーター:</label> -->
<!-- 			    <input class="form_input" type="text" id="elevator" name="elevator" > -->
			    
<!-- 			    <label class="form_label" for="autoLock">オートロック:</label> -->
<!-- 			    <input class="form_input" type="text" id="autoLock" name="autoLock" > -->
			    
<!-- 			    <label class="form_label" for="mailBox">メールボックス:</label> -->
<!-- 			    <input class="form_input" type="text" id="mailBox" name="mailBox" > -->
			    
<!-- 			    <label class="form_label" for=deliveryBox>宅配ボックス:</label> -->
<!-- 			    <input class="form_input" type="text" id="deliveryBox" name="deliveryBox" > -->
			    
<!-- 			    <label class="form_label" for="parking">駐車場:</label> -->
<!-- 			    <input class="form_input" type="text" id="parking" name="parking" > -->
			    
<!-- 			    <label class="form_label" for="pet">ペット:</label> -->
<!-- 			    <input class="form_input" type="text" id="pet" name="pet" > -->
			    
			    
			
			  </div>
			  <div class="form">

			    <label class="form_label" for="light">照明器具:</label>
			    <select class="form_input" id="light">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="light" name="light" > -->
			
			    <label class="form_label" for="internet">インターネット:</label>
			    <select class="form_input" id="internet">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="internet" name="internet" > -->
			
			    <label class="form_label" for="trunkRoom">トランク ルーム:</label>
			    <select class="form_input" id="trunkRoom">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="trunkRoom" name="trunkRoom" > -->
			    
			    <label class="form_label" for="TV">TV:</label>
			    <select class="form_input" id="tv">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="TV" name="TV" > -->
			    
			    <label class="form_label" for="CATV">CATV:</label>
			    <select class="form_input" id="catv">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="CATV" name="CATV" > -->

			    <label class="form_label" for="yard">專用庭:</label>
			    <select class="form_input" id="yard" style="margin-bottom: 150pt;">
			    	<option value="有">有</option>
			    	<option value="無">無</option>
			    </select>
<!-- 			    <input class="form_input" type="text" id="yard" name="yard" style="margin-bottom: 150pt;"> -->

			 </div>
			 </div>

<!-- 			    <label class="form_label" for="notes">備考:</label> -->
<!-- 			    <textarea class="form_input" id="notes" name="notes"  ></textarea> -->
			    
			    <label class="form_label" for="eqNotes" style="font-size: 16pt;">備考:</label>
			    <textarea class="form_input" id="eqNotes" name="eqNotes"
			    style="min-width: 75%;min-height: 150px;max-width: 75%;max-height: 150px;margin-bottom:50px"
			      ></textarea>
			    
			  <hr>
			  <h1 style="margin-bottom: 2rem;">料金情報の追加:</h1>
<!-- 			   <h3>料金情報の追加:</h3> -->
			  <div class="build_form" >
			  <div class="form">
					 <label class="form_label" for="rent">賃金:</label>
				    <input class="form_input" type="text" id="rent" name="rent" >
				
				    <label class="form_label" for="deposit">敷金:</label>
				    <input class="form_input" type="text" id="deposit" name="deposit" >
				
				    <label class="form_label" for="reward">禮金:</label>
				    <input class="form_input" type="text" id="reward" name="reward" >
								
<!-- 				    <label class="form_label" for="rentPayDate">賃金 支付期限:</label> -->
<!-- 				    <input class="form_input" type="text" id="rentPayDate" name="rentPayDate" > -->
				
<!-- 				    <label class="form_label" for="commonExpensesDate">共益費 支付期限:</label> -->
<!-- 				    <input class="form_input" type="text" id="commonExpensesDate" name="commonExpensesDate" >	 -->

<!-- 			  		<label class="form_label" for="lessorName">賃主 名稱:</label> -->
<!-- 				    <input class="form_input" type="text" id="lessorName" name="lessorName" > -->

			  </div>
			  <div class="form">
								
				    <label class="form_label" for="commonExpenses">共益費:</label>
				    <input class="form_input" type="text" id="commonExpenses" name="commonExpenses" >
				
				    <label class="form_label" for="maxAmount">極度額:</label>
				    <input class="form_input" type="text" id="maxAmount" name="maxAmount" >
				
				    <label class="form_label" for="renewal">更新料:</label>
				    <input class="form_input" type="text" id="renewal" name="renewal" >
<!-- 				    <label class="form_label" for="lessorPhone">賃主 電話:</label> -->
<!-- 				    <input class="form_input" type="text" id="lessorPhone" name="lessorPhone" > -->
				
<!-- 				    <label class="form_label" for="lessorAddress">賃主 地址:</label> -->
<!-- 				    <input class="form_input" type="text" id="lessorAddress" name="lessorAddress" > -->
				
<!-- 				    <label class="form_label" for="managerName">管理業者 名稱:</label> -->
<!-- 				    <input class="form_input" type="text" id="managerName" name="managerName" > -->
				
<!-- 				    <label class="form_label" for="manegerPhone">管理業者 電話:</label> -->
<!-- 				    <input class="form_input" type="text" id="manegerPhone" name="manegerPhone" > -->
				
<!-- 				    <label class="form_label" for="managerAddress">管理業者 地址:</label> -->
<!-- 				    <input class="form_input" type="text" id="managerAddress" name="managerAddress" > -->
				
<!-- 				    <label class="form_label" for="leaseDate">契約期間(年):</label> -->
<!-- 				    <input class="form_input" type="text" id="leaseDate" name="leaseDate" > -->
				
<!-- 				    <label class="form_label" for="leaseStartDate">契約開始期間:</label> -->
<!-- 				    <input class="form_input" type="text" id="leaseStartDate" name="leaseStartDate" > -->
				
<!-- 				    <label class="form_label" for="leaseEndDate">契約結束期間:</label> -->
<!-- 				    <input class="form_input" type="text" id="leaseEndDate" name="leaseEndDate" > -->
				
<!-- 				    <label class="form_label" for="checkDate">目的物件の引渡日:</label> -->
<!-- 				    <input class="form_input" type="text" id="checkDate" name="checkDate" > -->
				
			  </div>
			  
			  <div class="form">
			  	
			  	    <label class="form_label" for="otherExpenses">その他料金:</label>
				    <input class="form_input" type="text" id="otherExpenses" name="otherExpenses" >
				
				    <label class="form_label" for="payMethods" >支払う方法:</label>
				    <input class="form_input" type="text" id="payMethods" name="payMethods" style="margin-bottom: 110px;">
			  	
			  	
			  </div>		
			
			</div>
			
			
		    <label class="form_label" for="riderClause" style="font-size: 16pt;">特約条項:</label>
		    <textarea class="form_input" id="riderClause" name="riderClause"
			    style="min-width: 75%;min-height: 150px;max-width: 75%;max-height: 150px;margin-bottom:50px"
			      ></textarea>
			
			<hr>
			
			<h1 style="margin-bottom: 2rem;">人員データ:</h1>
			 <div class="build_form" >
			 	<div class="form">
			 		
				    <label class="form_label" for="lessorName" >貸主名:</label>
				    <input class="form_input" type="text" id="lessorName" name="lessorName">

				    <label class="form_label" for="lessorPhone" >貸主電話:</label>
				    <input class="form_input" type="text" id="lessorPhone" name="lessorPhone">

				    <label class="form_label" for="lessorAddress" >貸主住所:</label>
				    <input class="form_input" type="text" id="lessorAddress" name="lessorAddress">
			  		  
			  		<label class="form_label" for="lessorNotes" style="font-size: 16pt;">備考:</label>
		    		<textarea class="form_input" id="lessorNotes" name="lessorNotes"
			    		style="min-width: 100%;min-height: 150px;max-width: 100%;max-height: 150px;margin-bottom:50px"></textarea>
			 	</div>

			 	<div class="form">
				    
				    <label class="form_label" for="managerName" >管理業者名:</label>
				    <input class="form_input" type="text" id="managerName" name="managerName" >

				    <label class="form_label" for="managerPhone" >管理業者電話:</label>
				    <input class="form_input" type="text" id="managerPhone" name="managerPhone">

				    <label class="form_label" for="managerAddress" >管理業者住所:</label>
				    <input class="form_input" type="text" id="managerAddress" name="managerAddress">
			  		
			  		<label class="form_label" for="managerNotes" style="font-size: 16pt;">備考:</label>
		    		<textarea class="form_input" id="managerNotes" name="managerNotes"
			    		style="min-width: 100%;min-height: 150px;max-width: 100%;max-height: 150px;margin-bottom:50px"></textarea> 			 	 
			 	
			 	</div>
			 	
			 </div>
					
			<hr>
<!-- 			<h3>周辺情報の追加:</h3> -->
			<h1 style="margin-bottom: 2rem;">周辺情報の追加:</h1>
<!-- 			<div class="nearForm"> -->
			
<!-- 			<select class="form_input" onchange="select_line()" id="line_select" style="width: 250px;"></select> -->
<!-- 			<select class="form_input" id="station_select" style="width: 250px;"></select> -->
<!-- 			<span>徒步距離(分)</span> -->
<!-- 			<input class="form_input" id="nearInput"> -->
<!-- 			<button onclick="select_station()">追加</button> -->
<!-- 			<input type="text" id="nearInput"> --> 
			<input id="total_station_data" type="hidden" th:value="${total_station_data}">
<!-- 			</div> -->
			
				<div class="nearSelectDiv">
					<select class="nearSelect LineName" onchange="select_line()" id="LineName" style="width:29%"></select>
					<select class="nearSelect StationName" id="StationName" style="width:29%"></select>
					<input class=" nearSelect WarkingTime" id="WarkingTime" style="width:20%">
					<button onclick="select_station()" style="margin-left: 50px;font-size: 14pt;">追加</button>
					<i class='fa-solid fa-trash' onclick="delenear()" style="font-size:16pt"></i>
				</div>
			<div class="nearDiv">
				<div class="nearTextTitle">
					<div class="near LineName">附近路線</div>
					<div class="near StationName">附近車站</div>
					<div class="near WarkingTime">徒步距離(分)</div>
<!-- 					<div class="near Function">功能</div> -->
				</div>
			<div id="nearText" class="nearText">
			</div>
			</div>

			
<!-- 			 -->
			<div class="build_form"  >
				<ul class="nearData_list" id="nearDataList">
					
				</ul>
			
			</div>
			<hr>
			
			
				<div class="btn">
					<form action="objfront">
						<input id="hiddenInput2" type="hidden" name="prefData" />						
						<button class="title_btn" >返す</button>
					</form>
					<form action="savePage">
						<button class="title_btn" onclick="save_data()" >完成</button>
						 <input id="totalInput" type="hidden" name="totalData" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>