<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>検索機能(管理者)</title>
<link th:href="@{/css/back.css}" rel="stylesheet"
	th:src="@{'/css/front.css?_=' + @timestamp}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script type="text/javascript" th:src="@{js/back.js}"></script>
</head>
<body class="body"  onload="checkselectPrefValue()">
	<!-- onload="localRouteSelect();createLocalSelect()" -->
	<div class="area">

		<div class="title">
			<a th:href="@{/frontLocal}">
				<h1>日本地域路線檢索機能</h1>
				<h2 class="h2">(管理者側)</h2>
			</a>
		</div>

		<div class="local_search">
			<a th:href="@{/backLocalLine}"> <i class="fa-solid fa-right-left"></i></a>
			<a th:href="@{/backCreate}"> <i class="fa-solid fa-plus"></i></a>
			<h1>路線検索(都道府)</h1>
			<a th:href="@{/backPrefLine}">
				<button id="clear" style="font-size: 12pt;">クリア</button>
			</a>
			
<!-- 			<div style="display: flex; justify-content: center;"> -->
			<form th:action="@{/backPrefLine}" method="post" style="height:50px;display: flex; justify-content: center;">
				<select id="select_pref" style="width: 150px; font-size: 14pt;" name="select_pref" onchange="checkselectPrefValue()">
					<option value="" disabled selected>地域を選択</option>
					<option th:each="line : ${pref_data}" th:text="${line}"
						th:value="${line}"></option>
				</select>

				<button id="select_pref_btn" type="submit" class="search_btn" style="font-size: 12pt;">地域を検索</button>
			</form>
<!-- 			</div> -->
			<div id="prefRoute" >
				<p class="prefRouteText" th:each="line : ${line_data}" th:text="${line}" ></p>
			</div>
		</div>
		<hr>
	</div>
</body>
</html>